#myheader {
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 1px solid rgba(204, 204, 220, 0.305);
    background-color: var(--background);
}

#mytoolbar {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 1px solid rgba(204, 204, 220, 0.305);
    background-color: var(--background);
}

#my-container {
    padding: 5px;
    margin: 0px;
    background-color: #111217;
    border-bottom: 1px solid rgba(204, 204, 220, 0.305);
}

.bc-active {
    color: #6e9fff;
}

.my-card {
    border: 1px solid rgba(204, 204, 220, 0.12);
    padding: 18px;
    background: rgb(24, 27, 31);
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.my-card-chat {
    border: 1px solid rgba(204, 204, 220, 0.12);
    padding: 0px;
    background: #111217;
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.chat-message {
    padding: 0px;
    margin: 5px;
}

.loader-ball-9 {
    height: 20px;
}

.loader-ball-9>div {
    margin: 5px;
    padding-left: 5px;
    width: 25px;
    height: 6px;
    background: radial-gradient(circle closest-side, #6e9fff 90%, #0000) 0 0/33% 100% space;
    clip-path: inset(0 100% 0 0);
    animation: anm-bl-9-move 1s steps(4) infinite;
}

@keyframes anm-bl-9-move {
    to {
        clip-path: inset(0 -34% 0 0)
    }
}

#my-text-area {
    border: 1px solid rgba(204, 204, 220, 0.305);
    background-color: #111217;
}

.fesk-card-label {
    padding: 0 0 10px 0;
    margin-left: 2px;
    font-size: 16px;
    font-weight: 400;
}


.fesk-error-h1 {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0 23px 0 0;
    font-size: 24px;
    font-weight: 500;
    vertical-align: top;
    line-height: 49px;
    border-right: 1px solid rgba(204, 204, 220, 0.305);
}

.fesk-error-h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 49px;
    margin: 0
}

.inline-block {
    display: inline-block
}

.error-wrapper {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}